.Home {
    text-align: center;
    margin: 0% 1%;
    height: 100vh;
}

.Home h1{
    font-size: 500%;
}

.Home form input{
    margin: 5%;
    border: none;
    border-bottom: 2px solid black;
    /* text-align: center; */
    outline: none;
    font-size: 100%;
    word-wrap: break-word;
    font-family:Arial, Helvetica, sans-serif;
    /* resize:none; */
    width: 30%;
}

.arrow{
    width: 30px;
    height: 5px;
    background-color: lightblue;
    border: none;
    padding: 0px;
    margin: 5px;
}

.arrow::after, .arrow::before{
    content: "";
    width: 15%;
    height: 10px;
    background-color: lightblue;
    border: none;
    left: 10px;
    position: relative;
    display: inline-block;
    padding: 0px;
}

.arrow::after{
    top: -2px;
    left: 10px;
    transform: rotate(45deg);
}

.arrow::before{
    top: -6px;
    left: 15px;
    transform: rotate(-45deg);
}

.arrow:hover {
    box-shadow: grey;
}

#documentBody{
    height: 90vh;
}

.chatRoom{
    width: 100%;
    height: 100%;
    height: 90vh;
}

.message-thread{
    overflow-y: scroll;
    list-style-type: none;
    margin: 0px 5%;
    padding: 0%;
    height: 90%;
    width: 90%;
}

/* .message-thread::-webkit-scrollbar {
    display: none;
} */

.unbulleted-noPadding{
    list-style-type: none;
    padding: 0px;
}

.message-thread img{
    max-width: 100%;
    padding-top: 0%;
}

.message-thread li{
    word-wrap: normal;
    margin-top: 10px;
    margin-bottom: 10px;
    /* font-family: 'Courier New', Courier, monospace; */
    font-size: 32px;
    animation: fadeIn 1s;
}

.message-thread .lineWrapper{
    display: inline-block;
    display: block;
    display:inline;
    position: relative;
    left: -20%;
}

.message-thread li:hover {
    background-color:beige;
}

@keyframes fadeIn {
    from {opacity:0;}
    to {opacity: 1;}
}

.message-thread .userMessage{
    max-width: 65%;
    text-align: left;
    display: inline-block;
    /* display: block; */
    vertical-align: top;
    list-style-type: none;
    margin: 0%;
    padding-left: 1%;
    hyphens: auto;
}

.message-thread .otherMessage{
    max-width: 65%;
    text-align: left;
    position: relative;
    display: inline-block;
    vertical-align: top;
    /* left: 25%; */
    vertical-align: top;
    list-style-type: none;
    margin: 0%;
    padding-left: 1%;
    hyphens: auto;
}

.message-thread .userMessage li{
    margin: 0%;
}

.message-thread .otherMessage li{
    margin: 0%;
}

.message-thread .userMessageSpan{
    color:cadetblue;
    /* display: inline-block; */
    vertical-align: top;
    
}

.message-thread .otherMessageSpan{
    color:chocolate;
    display: inline-block;
    vertical-align: top;
    text-align: right;

}
.messageInput{
    overflow: auto;
    height: 10%;
    width: 75%;
    margin: 5% auto;
    position: sticky;
}

.messageInput select{
    width: 12.5%;
    vertical-align: top;
    margin-right: 2.5%;
}

.messageInput div{
    width: 60%;
    border-bottom: 2px solid black;
    display: inline-block;
}

.messageInput div:focus{
    outline:none;
} 

.messageInput button{
    vertical-align: top;
    display: inline-block;
    margin: 0% 1%;
}

.messageInput img{
    max-width: 75%;
}